@import url("https://fonts.googleapis.com/css2?family=Risque&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Ubuntu, "Open Sans", sans-serif;
  font-size: 16px;
}

html,
.body {
  height: 100%;
  width: 100%;
  position: relative;
}

.header,
.main,
.footer,
.container,
.actions-top,
.actions-bottom,
.contacts,
.typing-form,
.message-title {
  width: var(--width100);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.header {
  height: var(--header-height);
  background-color: var(--header-bg);
}

input,
textarea,
input:focus,
textarea:focus {
  outline: none;
}

a,
.more,
.filter-link {
  text-decoration: none;
  color: var(--main-font);
  cursor: pointer;
}

a:hover,
.more:hover,
.filter-link:hover,
.logins span:hover {
  color: var(--main-font-hover);
}

ul {
  list-style: none;
}

.logins,
.logins span {
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
}
.logins span:first-child {
  font-weight: bold;
}

.logins span {
  margin: 0 0.3rem;
}

.user-mobile {
  display: none;
}

.container {
  width: var(--width60);
  margin: 0 auto;
}

.main {
  height: calc(100% - var(--header-height) - var(--footer-height));
}

.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.content {
  height: calc(100% - var(--height60));
  flex-direction: column;
  overflow-y: auto;
}

.content::-webkit-scrollbar {
  height: var(--scrollbar-size);
  width: var(--scrollbar-size);
  border-radius: var(--padding5);
}

.content::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
  border-radius: var(--padding10);
}

.content::-webkit-scrollbar-thumb:vertical {
  border-radius: var(--padding10);
  background: var(--scrollbar-thumb-color);
}

.content::-webkit-scrollbar-thumb:vertical:hover {
  background-color: var(--scrollbar-thumb-color-hover);
}

/*--------------------- Load messages block -------------------------*/

.load span,
.filters span,
.messageto span {
  display: block;
  font-size: 1.05rem;
  color: var(--links-color);
}

.load span:hover,
.filters span:hover,
.messageto span:hover {
  color: var(--main-font);
}

.messageto span i,
.filters span i {
  margin: var(--padding5) var(--padding10);
  transform: rotate(0);
}

.messageto span:hover i,
.filters span:hover i {
  transform: rotate(90deg);
  transition: 1s;
}

/*--------------------- Search block -------------------------*/

.actions-top {
  height: var(--height60);
  position: relative;
}

.filters,
.messageto {
  position: relative;
  display: block;
}

.search {
  position: absolute;
  display: none;
  top: 1.6rem;
  right: 0;
  z-index: 5;
  opacity: 0;
  transition: 2s;
  width: var(--width240);
  padding: var(--padding5);
  border: 1px solid var(--search-color);
  border-radius: var(--padding5);
  background-color: white;
}

.filters:hover .search {
  display: block;
  opacity: 1;
}

.search form {
  width: var(--width100);
  margin: 0 auto;
  padding: 0 var(--padding5);
}

.search form input {
  width: var(--width100);
  height: var(--height30);
  border: 1px solid var(--search-color);
  border-radius: var(--padding5);
  padding: var(--padding5) var(--padding10);
  margin: var(--padding5) 0;
  color: var(--search-color);
}

input::-webkit-calendar-picker-indicator {
  opacity: 0.3;
}

.search label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0;
}

#dateFrom,
#dateTo {
  width: 60%;
}

.search p {
  text-align: right;
}

/*--------------------- Message To block -------------------------*/

.messageto span {
  display: inline;
}

#messageAdd {
  display: block;
}

#messageEdit {
  display: none;
}

.actions-bottom {
  margin: 0 0 var(--padding10);
  position: relative;
}

.users {
  position: absolute;
  left: 0;
  display: none;
  bottom: 1.7rem;
  border: 1px solid var(--search-color);
  border-radius: var(--padding5);
  background-color: white;
  max-height: 300px;
  overflow-y: auto;
}

.users::-webkit-scrollbar {
  height: var(--scrollbar-size);
  width: var(--scrollbar-size);
  border-radius: var(--padding5);
}

.users::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
  border-radius: var(--padding10);
}

.users::-webkit-scrollbar-thumb:vertical {
  border-radius: var(--padding10);
  background: var(--scrollbar-thumb-color);
}

.users::-webkit-scrollbar-thumb:vertical:hover {
  background-color: var(--scrollbar-thumb-color-hover);
}

.messageto:hover .users {
  display: block;
  overflow: auto;
}

.user-item {
  position: relative;
  padding: var(--padding10) var(--padding20);
  background: linear-gradient(180deg, #ffffff 0%, #f2f2f2 100%);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: var(--padding5);
  white-space: nowrap;
}

.user-item p {
  font-size: 0.9rem;
  margin: 0 0.5rem;
  color: var(--links-color);
  cursor: pointer;
}

.user-item:hover {
  background: linear-gradient(180deg, #f2f2f2 50%, #f2f2f2 100%);
}

.user-item:hover p:hover {
  color: var(--main-font-hover);
}

.status {
  width: var(--userpic-d);
  height: var(--userpic-d);
  border: 1px solid var(--accent1);
  border-radius: 50%;
  background: rgba(243, 240, 156, 0.5);
  overflow: hidden;
  text-align: center;
  padding-top: var(--padding2);
  position: relative;
}

.main-chat {
  background: var(--accent1);
  border-color: var(--accent1);
}

.main-chat + p {
  color: var(--main-font);
}

.active {
  background: var(--status-active);
}

.away {
  background: rgb(163, 163, 163);
}

/*--------------------- Messages itself block -------------------------*/

li {
  margin: var(--padding10) 0;
  padding: var(--padding10);
  width: var(--width80);
  font-size: 0.85rem;
  text-align: justify;
  border: 1px solid var(--search-color);
  border-radius: var(--padding5);
  background-color: rgba(79, 142, 169, 0.1);
}

.typing-form {
  border: 1px solid var(--accent1);
  border-radius: var(--padding10);
  margin-bottom: var(--padding10);
}

textarea {
  resize: none;
  width: var(--width80);
  height: var(--height40);
  border: 0px solid white;
  border-radius: var(--padding10);
  font-size: 0.9rem;
  line-height: var(--height40);
  color: var(--accent1);
  list-style: 1.1rem;
  padding: 0 0.8rem;
}

.typing-form button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.fa-paper-plane {
  margin: 0 var(--padding10);
  transform: rotate(15deg);
  font-size: 1.8rem;
  color: var(--accent1);
}

.message-title {
  margin: var(--padding2) 0;
  padding: var(--padding2) 0;
}

.typing {
  display: none;
  border: 1px solid var(--header-bg);
  border-radius: 1rem;
  padding: var(--padding2) var(--padding20);
  margin: var(--padding10) 0;
  font-size: 0.7rem;
  color: var(--header-bg);
}

.my-message {
  margin-left: auto;
  background-color: rgba(210, 255, 136, 0.2);
}

.my-message:hover,
.my-message:hover .message-actions a {
  background-color: rgba(250, 255, 20, 0.2);
  transition: 2s;
  opacity: 1;
}

.message-from {
  font-weight: bold;
  font-size: 0.85rem;
}

.message-date {
  text-align: right;
  font-size: 0.7rem;
  margin-top: var(--padding5);
}

.message-actions {
  width: 3.5rem;
  height: var(--height20);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.message-actions a {
  margin: 0 var(--padding5);
  opacity: 0;
}

.disable {
  pointer-events: none;
  opacity: 0.2;
}

textarea {
  background-color: white;
}

/*--------------------- footer -------------------------*/

.footer {
  height: var(--footer-height);
  background-color: var(--footer-bg);
}

.contacts {
  color: var(--main-font);
}

.contacts {
  width: var(--width50);
  font-weight: 500;
}

.logo-footer a {
  font: normal 2rem Risque;
}

/*--------------------- signUp, log In -------------------------*/

.signup,
.loginForm {
  height: 100%;
  display: none;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.signup p,
.loginForm p {
  margin: var(--padding20) 0;
}

.signup form,
.loginForm form {
  width: 90%;
  text-align: right;
}

label {
  color: var(--login-color);
}

input {
  width: 60%;
  margin-left: var(--padding20);
  border: 1px solid var(--login-color);
  border-radius: var(--padding5);
  padding: var(--padding5) var(--padding10);
  outline: none;
}

.signup button,
.loginForm button,
.confirmation button,
.search button,
.error button {
  border-radius: var(--padding5);
  padding: var(--padding10) var(--padding20);
  border: 0;
  font-size: 1rem;
  cursor: pointer;
}

.homeBtn {
  background-color: var(--accent1);
  border-color: var(--accent1);
  color: white;
  margin: 0 var(--height30);
}

.submit {
  background-color: var(--accent2);
  border-color: var(--accent2);
  font-weight: bold;
}

/*--------------------- Confirmation -------------------------*/

.modal-wrapper {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.confirmation {
  z-index: 5;
  position: absolute;
  top: 40%;
  left: 40%;
  width: 350px;
  height: 160px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  bottom: 1.7rem;
  border: 1px solid var(--accent1);
  border-radius: var(--padding10);
  background-color: white;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.confirmation p:first-child {
  text-align: center;
  text-transform: uppercase;
  padding: var(--padding10) 0;
  background-color: var(--accent1);
  border-radius: var(--padding5) var(--padding5) 0 0;
  color: white;
}

.confirmation p:nth-child(2) {
  margin-top: var(--padding20);
  padding: 0 var(--padding20);
}

.confirmation p:last-child {
  margin: var(--padding20) 0;
  padding: 0 var(--padding20);
  text-align: right;
}

/*--------------------- Error block -------------------------*/
.error {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0 var(--padding20);
}

.error h2 {
  font-size: 2rem;
  color: var(--accent1);
}

.error p {
  color: var(--accent1);
  margin: var(--height30) 0;
}
