:root {
  --header-height: 9rem;
  --footer-height: 6rem;

  --accent1: rgba(9, 142, 169, 1);
  --accent2: rgba(204, 245, 137, 1);
  --header-bg: rgba(79, 142, 169, 0.6);
  --footer-bg: rgba(193, 240, 115, 0.54);
  --main-font: rgba(15, 22, 15, 1);
  --main-font-hover: rgba(15, 22, 15, 0.3);
  --links-color: rgba(79, 142, 169, 1);
  --search-color: rgba(25, 32, 95, 0.3);
  --mobile-border: rgba(79, 142, 169, 0.1);
  --disable-color: rgba(79, 142, 169, 0.25);
  --login-color: rgba(79, 142, 169, 0.5);
  --error-color: #bd6844;
  --status-active: rgba(42, 153, 42, 0.5);

  --width100: 100%;
  --width80: 80%;
  --width60: 60%;
  --width50: 50%;
  --width240: 15rem;

  --userpic-d: 0.7rem;
  --status-d: 0.7rem;

  --height60: 4rem; /* ~ 60px */
  --height40: 2.5rem; /* ~ 40px */
  --height30: 1.8rem; /* 30px*/
  --height24: 2rem; /* 24px */
  --height20: 1.3rem; /* 20px */

  --padding20: 1.3rem; /* 20 px */
  --padding10: 0.63rem; /* 10 px */
  --padding5: 0.31rem; /* 5px */
  --padding2: 0.13rem; /* 2px */

  --scrollbar-size: 0.3rem;
  --scrollbar-track-color: rgba(79, 142, 169, 0.1);
  --scrollbar-thumb-color: rgba(79, 142, 169, 0.5);
  --scrollbar-thumb-color-hover: rgba(79, 142, 169, 0.7);
}
